.nav{
    background-color:#131921;
    width: 100%;
    color:aliceblue;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 5px;
    position: sticky;
    top: 0%;
    z-index: 111111;
}

.burger{
    width: 10%;
    display: none;
}


.burgerMenu{
    display: none;
}




.address{
    /* padding-left: ; */
     display: flex;
    width:9%;
    font-size: 15px;
    font-weight:700;
}

.lines{
    display: flex;
    line-height: 15px;
    flex-direction: column;
}

.adr-frst{
    font-size: 13px;
    font-weight: 500;
    color: #b5b3c4;
    /* padding-left: 18px; */
    
}

.icon1{
    /* height:120px; */
    padding-top: 13px;
}
 
.image { 
    display: flex;
    /* align-items: center; */
    width: 6%;
    gap: 12px;
    padding:11px 0px 0px 12px;
    /* line-height: 0px; */

}

 
.image .logo{
    width:100%
    
}

.searchbox{
    height: 100%;
    width: 62%;
    display: flex;
    gap: 0;
    /* background-color: #b5b3c4; */
}



.searchbox select{
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 5%;
    background-color: #dad9e2;
    font-size: 12px;
    /* z-index: 1; */
    /* margin-left: 12px; */
}

.searchbox input{
    width: 100%;
    padding-left:5px;
    font-size: 15px;
}

.searchicon{
    width: 4%;
    background-color: #ffb86c;
    color: #131921;
    padding: 5px 0px 0px 11px;
    font-size: 25px;
    border-radius: 0px 5px 5px 0px ;
}


.sign{
    /* cursor: pointer; */
    color: white!important;
    width: 110%;
    display: flex;
    line-height: 8px;
    flex-direction: column;
    font-weight: 00
}



.sign-frst{
    color: white;
    font-size: 13px;
    font-weight: 500;
    /* color: #b5b3c4; */
    /* padding-left: 18px; */
    
}
 
.sign-scnd{
    font-weight: 700;
    color: white;
}

.rtrn{
    width: 110%;
    display: flex;
    line-height: 8px;
    flex-direction: column;
    font-weight: 700
}

.rtrn-frst{
    color: white;
    font-size: 13px;
    font-weight: 500;
    /* color: #b5b3c4; */
    /* padding-left: 18px; */
    
}

.rtrn-scnd{
    color: white;
}


.cartIcon{
    color: #ffff;
    display: flex;
    /* width: 12%; */
    font-size: 30px;
    font-weight: 500;
}

.cartIcon p{
    font-size: 25px;
    font-weight: 500;
   
}

.cartText{
    line-height: 19px;
}
.cartText #cart{
    font-size: 12px;
    font-weight: 700;
    color: #ffb86c; 
    /* margin-right: 12px; */
}

.burgerMenu {
  display: none; /* Initially hide the burger menu */
  ; /* Background color when the menu is shown */
}
        


@media (max-width: 425px) {
        .nav{
            width:100%;
            gap: 0;
        }

        .address{
            display: none;
        }

        .image { 
            /* height: 120px; */
            width:75%;
        }

        .searchbox{
            width:60%;
            display:none;
        }

        .sign{
            display: none;
        }

        .rtrn{
            display: none;
        }

        .searchbox select{
            width: 15%;
        }

        .searchicon{
            width: 15%;
        }

        .cart{
            width: 20%;
            margin-left: 200px;
        }



        .burger{
            margin-bottom:8px ;
            width: 21%;
            display: block;
        }

        .burgerMenu.show{
            transition: 1s ease-in;
            transform: translateX();
            display: block;
            background-color: #b5b3c4;
        }
        

}   