.mininav{
    font-size: 15px;
    background-color:#232F3E;
    color: #fff;
    display: flex;
    gap:12px;
    padding: 12px 10px 12px 25px;
}

.lftNav{
    width: 5%;
    display: flex;
    font-weight: 500
}

.centerNav{
    width:70%;
    padding-left:5px;
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
}

.rghtNav{
    /* margin-left:1px ; */
    font-size: 14px;
    padding-left: 70px;
    
}