.footer{
  padding: 12px;
  background-color: #232F3E;
  position: sticky;
  top: 100%;
  bottom: 0%;
  width: 100%;
  /* margin-top:20% ; */
  color: white;
}

.footContainer{
  padding: 0px 80px 80px 80px ;
  margin: auto;
  display:flex;
  justify-content: center;
  gap: 250px;

}

.line{
  font-size: 13px; 
  line-height: 40px;
}



.footer .title{
  font-size: 15px;
  font-weight: 800;
}

.footCond{
  font-size: 13px; 
  margin-left:670px ;
}

.footspan{
  color:grey;
}



@media (max-width: 768px){
  .footer{
    font-size: 8px;
    /* padding: 2px; */
  }

  .footContainer{
    width:100%;
    padding: 0px 1px 30px;
    margin-left: 10px;
    gap: 30px;
    
  }

  .line{
    line-height: 25px;
    font-size: 8px;
  }

  .footer .title{
    display: inline-block;
    font-size: 10px;
  }


  .footCond{
    font-size: 10px;
    margin: 0px;
  }


}